@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@font-face {
	font-family: CherryBombOne;
	src: url("/fonts/CherryBombOne.ttf");
}

@font-face {
	font-family: Sniglet;
	src: url("/fonts/Sniglet.ttf");
}

@custom-variant dark (&:where(.mocha, .mocha *));

body {
	font-family: Sniglet, sans-serif;
}
h1,
h2,
h3,
.big-font {
	font-family: CherryBombOne, sans-serif;
}
